body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #637F8D
  }
  #home-icon {

    color: black;
  }
  
  .text-main-color {
  
    text-align: center;
    font-size: larger;
  
  
  }
  
  .sign-up {
    margin: 10rem auto;
    padding: 5rem;
  
  }
  
  
  
  .sign-up p {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 1.2rem;
  }
  
  .sign-up a {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 12px;
    margin-top: 5px;
  }
  
  .form-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .user-info {
    text-align: center;
    font-size: 14px;
    align-items: baseline;
  
  }
  
  .facil {
    position: absolute;
    left: 9.45%;
    top: 30.5%;
    transform: translateY(-50%);
    font-style: inherit;
    font-family: "Inter", sans-serif;
    color: rgb(9, 51, 149);
    font-size: 20px;
    text-align: center;
    justify-content: space-evenly;
  }
  
  .normal {
    position: absolute;
    left: 20%;
    top: 54%;
    transform: translateY(-50%);
    font-style: inherit;
    font-family: "Inter", sans-serif;
    color: rgb(9, 51, 149);
    font-size: 20px;
    text-align: center;
    justify-content: space-evenly;
  
  }
  
  .dificil {
    position: absolute;
    left: 21%;
    top: 76.5%;
    transform: translateY(-50%);
    font-style: inherit;
    font-family: "Inter", sans-serif;
    color: rgb(9, 51, 149);
    font-size: 20px;
    text-align: center;
    justify-content: space-evenly;
  
  }
  
  .icones {
  
   
    margin-right: 70%;
    flex-direction: column;
    text-align: right;
    margin-bottom: 20%;
  
  }
  
  .menu-bar {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 5px;
    width: 115%;
    height: 30px;
    margin-bottom: 20px;
    background-color: #ffffff; /* fundo branco */
    border: 1px solid #d3ceced0; /* borda cinza claro com espessura fina */
    border-radius: 10px;
    padding: 35px;
    margin-left: 35%;
    position: absolute;
    top: 480px;
}

  
  .form-container {
    padding: 1rem auto;
  }
  
  .form-container p {
    text-transform: uppercase;
    margin: 1rem;
  }
  
  .form-container {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .logo-container h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 40px;
    margin-left: 5px;
  }
  
  
  
  
  #validar {
    width: 12rem;
  }
  
 
  
  @media (min-width: 500px) {
    .sign-up {
      
      width: 12rem;
  }
  .icones {
    float: left;
  margin-left: 130px;
  flex-direction: column;
  justify-content: space-evenly;     
  }
    .icone p1 {
        display: block;
      
        justify-content:center;
        align-items: center;
    }

    .facil {
    
      display: none;
    }
    
    .normal {
      
      display: none;
    }
    
    .dificil {
      
      display: none;
     
    }
    .menu-bar {
  
      width: 128%;
      align-items: center;
     
      justify-content: space-evenly;
      height: 20px;
      margin-left: 0%;
      top: 515px;
  
    }

  }
  
  @media (min-width: 600px) {
  
    /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
    .sign-up {
      width: 15rem;
    }
    .facil{
      display: block;
      font-size: 14px;
      color: rgb(9, 51, 149);
      top:39%;
      left: 14%;
    }
    
    .normal
  {
    display: block;
    font-size: 14px;
    color: rgb(9, 51, 149);
    top: 58%;
  }
  
  .dificil{
    display: block;
    font-size: 14px;
    color: rgb(9, 51, 149);
    top:78%;
  }
  .icones{
    display: block;
    margin-left: -35px;
   
    
  
  }
  .icone p1 {
    display: none;
}

    .menu-bar {
  
      width: 128%;
      align-items: center;
      justify-content: center;
      justify-content: space-evenly;
      height: 30px;
  

      margin-left: 0%;
  
      top: 500px;
  
    }
  
  }
  
  
  
  @media (min-width: 800px) {
  
    /* tablet, landscape iPad, lo-res laptops ands desktops */
    .sign-up {
      width: 26rem;
      height: max-content;
    }
  
    .icones {
      width: 0.3rem;
      margin-left: -30px;
    }
    .facil{
      font-size: 20px;
      left:18%;
      top:35%
    }
    .normal
  {
    font-size: 20px;
    top: 55%;
  }
  
  .dificil{
    font-size: 20px;
    left: 14%;
    top: 72%;
  }
   .menu-bar {
      width: 120%;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      margin-left: 0%;
      height: 30px;
       top: 500px;
    }
  
  }
  
  
  @media (min-width: 1024px) {
  
    /* big landscape tablets, laptops, and desktops */
    .sign-up {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 30rem;
      height: max-content;
  
    }
  
    .icones {
      
      margin-left: -20px;
      justify-content: space-evenly;
      align-items: center;
      
    
  
  
    }
  
    .menu-bar {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 115%;
    height: 30px;
    margin-left: 0%;
    top: 500px;
    }
    .facil{
      font-size: 20px;
      left:25%;
      top: 34%;
      
    }
    .normal
  {
    font-size: 20px;
    top: 54%;
    left: 30%;
  
    
  }
  
  .dificil{
    font-size: 20px;
    left:21.52%;
    top: 73%;
  }
  }
  
  body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #637F8D
  }