body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #637F8D
}
#home-icon {

  color: black;
}

.text-main-color {

  text-align: center;
  font-size: larger;


}

.sign-up {
  margin: 10rem auto;
  padding: 5rem;

}
.librasmao {
  display: flex;
  align-items: center;
  justify-content: center;
}
#pergunta{

font-size: large;



}



/* Mantenha o restante do seu CSS inalterado */
/* Mantenha o restante do seu CSS inalterado */

.quiz-option {
  font-size: 2em;
  text-align: justify;
  position: relative;
  justify-content: center;
}

#user-input {
  width: 250px; /* Ajuste conforme necessário */
  height: 40px; /* Ajuste conforme necessário */
  margin-bottom: 10px;
}









.sign-up p {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 1.2rem;
}

.sign-up a {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 12px;
  margin-top: 5px;
}

.form-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.user-info {
  text-align: center;
  font-size: 14px;
  align-items: baseline;

}




.menu-bar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 5px;
  width: 160%;
  height: 30px;
  margin-bottom: 20px;
  background-color: #ffffff; /* fundo branco */
  border: 1px solid #d3ceced0; /* borda cinza claro com espessura fina */
  border-radius: 10px;
  padding: 35px;
  margin-left: 5%;
  position: absolute;
  top: 480px;
}


.form-container {
  padding: 1rem auto;
}

.form-container p {
  text-transform: uppercase;
  margin: 1rem;
}

.form-container {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-container h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 40px;
  margin-left: 5px;
}




#validar {
  width: 12rem;
}

@media (min-width: 400px) {
  .sign-up {
    width: 8rem;

  }
}

@media (min-width: 500px) {
  .sign-up {
    width: 12rem;

  }
  .menu-bar {
    
    width: 110%;
    
    }
}

@media (min-width: 600px) {

  /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
  .sign-up {
    width: 15rem;
  }
  
  .menu-bar {

    width: 115%;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    height: 30px;



    margin-left: 1%;

    top: 480px;




  }

}



@media (min-width: 800px) {

  /* tablet, landscape iPad, lo-res laptops ands desktops */
  .sign-up {
    width: 26rem;
    height: max-content;
  }


  .menu-bar {
    width: 115%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 1%;

    top: 480px;
  }

}


@media (min-width: 1024px) {

  /* big landscape tablets, laptops, and desktops */
  .sign-up {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30rem;
    height: max-content;

  }

  .icones {
    display: flex;
    width: 26rem;

  }

  .menu-bar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 180%;
  height: 10;
  margin-left: 2%;
  top: 480px;
  }
  
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #637F8D
}