:root {
    --theme: #fcffff;
    --background: #63808e;
    --success: green;
    --warning: --yellow;
    --error: red;
    --info: rgba(0, 0, 255, 0.75);
  }
  
  body {
    height: 325x700px;
    display: flex;
    background-color: var(--background);
  }
  
  
  
  .bg-main-color {
    border: var(--theme);
    background-color: #001685;
    color: #f8f8f9;
  
  }
  
  .bg-success-color {
    border: var(--success);
    background-color: var(--success);
    color: #fff;
  }
  
  .bg-info-color {
    border: var(--info);
    background-color: var(--info);
    color: #fff;
  }
  
  .input-base {
    border: 1px solid #070707 !important;
    border-radius: 10px;
    height: 1.5rem;
    padding: 0.3rem;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .input-base-date {
    border: 1px solid #ceb8a7 !important;
    border-radius: 10px;
    height: 1.5rem;
    width: 11rem;
    padding: 0.3rem;
  }
  
  .input-base::placeholder {
    color: #ceb8a7;
  }
  
  .input-base:focus {
    outline-color: var(--theme);
  }
  
  .button-base {
    border-radius: 10px;
    width: 65%;
    height: 2rem;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.1);
  }
  
  
  
  /*
    @@@ DESKTOP TEMPLATE STYLES @@@
  */
  
  .left-navbar {
    display: flex;
    flex-direction: column;
    background-color: #f2f4f6;
    height: 100%;
    width: 7rem;
    padding: 1rem;
    position: fixed;
    left: 0;
  }
  
  .logo-nav {
    display: flex;
    flex-direction: column;
    text-align: end;
  }
  
  .logo-nav h4 {
    margin-right: -0.25rem;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    text-align: right;
  }
  
  .logo-nav img {
    cursor: pointer;
    height: 6rem;
    width: 6rem;
  }
  
  .nav-options {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
  }
  
  .home-nav,
  .user-denunciations-nav,
  .logout-nav {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    cursor: pointer;
  }
  
  .home-nav p,
  .user-denunciations-nav p,
  .logout-nav p {
    margin-top: 0.5rem;
  }
  
  .home-nav p:hover,
  .user-denunciations-nav p:hover,
  .logout-nav p:hover {
    margin-top: 0.5rem;
    text-shadow: rgba(0, 0, 0, 0.3) 0 0 1px;
  }
  
  .top-navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding: 0.5rem 1rem 0.5rem 0rem;
    width: 100%;
    background-color: #ffffff;
  }
  
  .app {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin-left: 9rem;
  }
  
  .app-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  
  .top-navbar p {
    margin-right: 1rem;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 15px;
  }
  
  .top-navbar img {
    cursor: pointer;
    margin-right: 1rem;
    height: 35px;
    width: 35px;
  }
  
  .card-app {
    /* display: flex;
    flex-direction: column; */
    background-color: rgb(251, 252, 252);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0 0 10px;
    width: 50%;
    height: auto;
    /* margin: auto; */
    margin-top: 2rem;
    background-color: #f7f8f9;
  }
  
  .card-mobile {
    background-color: #fbfdfe;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.5) 0 0 10px;
  }
  
  .card-head-border {
    height: 20%;
    background-color: #f9fbfc
  }
  
  .card-footer-border {
    height: 10%;
    background-color: #fafbfc;
  }
  
  
  .profile-pic-nav {
    border-radius: 50px;
  }
  
  @media (max-width: 400px) {
    .card-app {
      width: 20rem;
    }
  }
  
  @media (max-width: 600px) {
    .card-app {
      width: 15rem;
    }
  }
  
  @media (max-width: 800px) {
    body {
      margin: 0 auto;
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #f94949;
    }
  
    .app {
      margin-left: 0rem;
    }
  
    .left-navbar,
    .top-navbar {
      display: none;
    }
  }

  .aviso {
    font-family: "Inter", sans-serif;
    font-size: 13px;
  }