body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #637F8D
}

.text-main-color {

  text-align: center;
  font-size: larger;


}

.sign-up {
  margin: 10rem auto;
  padding: 5rem;

}


.sign-up p {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 1.2rem;
}

.sign-up a {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 12px;
  margin-top: 5px;
}

.form-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.user-info {
  font-size: 14px;
  font-family: "Inter", sans-serif;
}


.menu-bar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 55px;
  width: 160%;
  height: 30px;
  margin-bottom: 20px;
  background-color: #ffffff;
  border: 1px solid #d3ceced0;
  border-radius: 10px;
  padding: 35px;
  margin-left: 5%;
  position:unset;
  top: 480px;
}

#editButton2{
display: flex;
margin-left: 100%;
margin-top: -10%;
}
#saveButton2{
  display: flex;
  margin-left: 100%;
  margin-top: -10%;
}

#editButton3{
  display: flex;
  margin-left: 100%;
  margin-top: -10%;
  }
  #saveButton3{
    display: flex;
    margin-left: 100%;
    margin-top: -10%;
  }
  
.form-container {
  padding: 1rem auto;
}

.form-container p {
  text-transform: uppercase;
  margin: 1rem;
}

.form-container {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-container h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 40px;
  margin-left: 5px;
}

#validar {
  width: 12rem;
}

@media (min-width: 400px) {
  .sign-up {
    width: 8rem;
  }
}

@media (min-width: 500px) {
  .sign-up {
    width: 12rem;
  }

  .menu-bar {
    width: 110%;
  }
}

@media (min-width: 600px) {

  /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
  .sign-up {
    width: 15rem;
  }

  .menu-bar {

    width: 115%;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    height: 30px;
    margin-left: 1%;
    top: 480px;
  }
}



@media (min-width: 800px) {

  /* tablet, landscape iPad, lo-res laptops ands desktops */
  .sign-up {
    width: 26rem;
    height: max-content;
  }


  .menu-bar {
    width: 115%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 1%;

    top: 480px;
  }

}


@media (min-width: 1024px) {

  /* big landscape tablets, laptops, and desktops */
  .sign-up {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30rem;
    height: max-content;

  }

  .icones {
    display: flex;
    width: 26rem;

  }

  .menu-bar {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 190%;
    height: 10;
    margin-left: 2%;
    top: 480px;
  }

}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #637F8D
}