body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #637F8D
}

#home-icon {

  color: black;
}

.text-main-color {

  text-align: center;
  font-size: larger;


}

.sign-up {
  margin: 10rem auto;
  padding: 5rem;

}

.librasmao {

  margin-right: 50%;
  flex-direction: column;

  margin-bottom: 10%;

}

#pergunta {

  font-size: large;



}



.quiz-option {
  font-size: 2em;
  text-align: justify;
  position: relative;
  top: -24%;
  left: 30%;

  justify-content: center
}



.sign-up p {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 1.2rem;
}

.sign-up a {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 12px;
  margin-top: 5px;
}

.form-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.user-info {
  text-align: center;
  font-size: 14px;
  align-items: baseline;

}


.menu-bar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 5px;
  width: 160%;
  height: 30px;
  margin-bottom: 20px;
  background-color: #ffffff;
  border: 1px solid #d3ceced0;
  border-radius: 10px;
  padding: 35px;
  margin-left: 5%;
  position: absolute;
  top: 480px;
}


.form-container {
  padding: 1rem auto;
}

.form-container p {
  text-transform: uppercase;
  margin: 1rem;
}

.form-container {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-container h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 40px;
  margin-left: 5px;
}




#validar {
  width: 12rem;
}
